extends layout

block title
    title Login V10

block meta
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

block css
    // ===============================================================================================
    link(rel='icon' type='image/png' href='/images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='/vendor/bootstrap/css/bootstrap.min.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='/vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='/vendor/css-hamburgers/hamburgers.min.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='/vendor/animsition/css/animsition.min.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='/vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='/vendor/daterangepicker/daterangepicker.css')
    // ===============================================================================================
    link(rel='stylesheet' type='text/css' href='/stylesheets/util.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/login.css')
    // ===============================================================================================
  
  block content
    body
        .limiter
            .container-login100
                .wrap-login100.p-t-50.p-b-90
                    form.login100-form.validate-form.flex-sb.flex-w(method="POST")
                        span.login100-form-title.p-b-51
                            | Login
                        .wrap-input100.validate-input.m-b-16(data-validate='Username is required')
                            input.input100(type='text' name='username' placeholder='Username')
                            span.focus-input100
                        .wrap-input100.validate-input.m-b-16(data-validate='Password is required')
                            input.input100(type='password' name='pass' placeholder='Password')
                            span.focus-input100
                        //- .flex-sb-m.w-full.p-t-3.p-b-24
                        a.txt1(href='/users')
                            | Join Us!
                        .fail
                            | 로그인 실패
                        a.txt1(href='#')
                            | Forgot?
                        .container-login100-form-btn.m-t-17
                            button.login100-form-btn
                                | Login
    
block script
    #dropDownSelect1
    // ===============================================================================================
    script(src='/vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='/vendor/animsition/js/animsition.min.js')
    // ===============================================================================================
    script(src='/vendor/bootstrap/js/popper.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='/vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='/vendor/daterangepicker/moment.min.js')
    script(src='/vendor/daterangepicker/daterangepicker.js')
    // ===============================================================================================
    script(src='/vendor/countdowntime/countdowntime.js')
    // ===============================================================================================
    script(src='/javascripts/login.js')
